* {
  font-family: Arial, Helvetica, sans-serif;
}



header {
  display: flex;
  flex-direction: column;
  border: 1px solid maroon;
  color: maroon;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px gray;
  margin-bottom: 25px;
}

#tarea>a {
  font-size: 2.5em;
  text-decoration: none;
  color: maroon;
}

.menu {
  display: flex;
  justify-content: flex-start;
}

#beginning {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}


.beginning>div>a,
header>div>a,
#init {
  text-decoration: none;
  align-items: flex-start;
  margin: 10px;
  color: maroon;
}

.beginning>div>a,
header>div>a:hover {

  cursor: pointer;
  
}


#profileUser {
  display: flex;
  width: 22%;
  justify-content: right;
}

#profileUser a {
  cursor: pointer;
}



.navegador {
  display: flex;
  justify-content: space-around;
  margin: 5px;

}

.navegador a {
  text-decoration: none;
  justify-content: space-between;
  background-color: maroon;
  width: 15%;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 8px;
}

.navegador a:hover {
  background-color: rgb(69, 3, 3);
  color: whitesmoke;
  border: none;
  transition: 250ms;
}

.navegador a:active {
  background-color: rgb(69, 3, 3);
  transform: scale(0.8);
}

/*  MENU DESPLEGABLE RESTAURANTES  */

.dropdown {
  /* position: relative; */
  /* display: inline-block; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content option {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content option:hover {
  background-color: maroon;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  cursor: pointer;
}

/*   */

.centrador {
  display: flex;
  justify-content: space-around;
}

.centrador a {
  width: 100%;
  margin: 5px;
}

.centrador a img {
  width: 100%;
}

.item-list,
.aller-list,
.menu-list,
.random-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border: 1px solid maroon;
  border-radius: 10px;
  margin-bottom: 10px;

}

#randomdish {
  background-color: beige;
}

main .card,
.random-list .card {
  border: 1px solid gray;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 20%;
  box-shadow: 3px 3px 3px 3px gray;
  transition: 2000px;

}
.card:hover {
  transform:scale(1,1.05);
box-shadow: 5px 5px 5px 5px gray;

}

.card img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;

}

.container {
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

.container li {
  list-style: none;
  padding: 3px;
  cursor: pointer;
  width: 100%;
}


.ficha {
  display: flex;
  margin: 5px;
  padding: 10px;
  border: 1px solid maroon;
  border-radius: 10px;
}

.ficha .detalle {
  margin: 10px;
  width: 20%;
}

.ficha img {
  border-radius: 10px;
  width: 30%;
}


h3.no-asignado {
  color: red;
  background-color: white;
  text-align: center;
  font-style: italic;
}

main>h3,
body>h3,
footer>h3 {
  background-color: lightgreen;
  padding: 3px;
}

/* footer {
  background-color: lightslategray;
} */

/********************** MODAL ******************************/

#mapid {
  z-index: 0;
  margin: 0 25px;
  margin-top: 20px;
  /* cambiar id de los mapas de detalle */
}

#mapiddetail {
  z-index: 0;
}

.modal {
  /* display: none; Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  border-radius: 8px;
}

/* Modal Content/Box */
.modal-content {
  margin-top: 15px;
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.formclass {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.headerform {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}



article {
  width: 50%;
}

.add-ingredient {
  display: flex;
}

#ingredient {
  width: 85%;
}

#addingredient {
  width: 15%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 2%;
  float: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal>div {
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

input[type=text],
input[type=number],
input[type=password],
select {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type=submit],
button {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: maroon;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

textarea {
  height: 50px;
  font-size: 16px;
}


/*********************** tarea 7 *****************/
/*flecha opciones*/
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow i {
  color: maroon;
}

/* checkbox switch*/
/*w3schools.com*/

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid grey;

}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 9px;
  left: 0px;
  bottom: 0px;
  background-color: whitesmoke;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid grey;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 11px;
}

.slider.round:before {
  border-radius: 50%;
}

/*    */